@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .remove-colors {
    @apply grayscale-100 !important;
  }
  .link-lg {
    @apply;
  }
  .link-underline {
    @apply relative before:absolute before:bottom-[-5px] before:h-[5px] before:w-[0] hover:before:w-full before:mt-[5px] before:bg-white md:before:bg-primary before:transition-all before:duration-300;
  }
}

.active::before {
  width: 100% !important;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

html {
  --primary: #015e94;
  --hv-color: #0693e3;
  --customlight: #e8f7ff;
  --text: #000;
  --darkgray: #222831;
  --lightgray: #393e46;
  --orange: #b55400;
  --yellow: #f7df1e;
}

html.dark {
  --primary: #ec6a00;
  --hv-color: #f38831;
  --text: rgb(241, 241, 241);
}

html {
  scroll-behavior: smooth;
}

html.dark progress[value]::-webkit-progress-value {
  background-color: var(--primary);
}

.logo:hover .letter {
  animation: bounce 0.35s ease-in-out alternate;
}

.logo:hover .letter:nth-child(1) {
  animation-delay: 0.1s;
}

.logo:hover .letter:nth-child(2) {
  animation-delay: 0.2s;
}

.logo:hover .letter:nth-child(3) {
  animation-delay: 0.3s;
}

.logo:hover .letter:nth-child(4) {
  animation-delay: 0.4s;
}

.logo:hover .letter:nth-child(5) {
  animation-delay: 0.5s;
}

.logo:hover .letter:nth-child(6) {
  animation-delay: 0.6s;
}

.logo:hover .letter:nth-child(7) {
  animation-delay: 0.7s;
}

.logo:hover .letter:nth-child(8) {
  animation-delay: 0.8s;
}

.logo:hover .letter:nth-child(9) {
  animation-delay: 0.9s;
}

.logo:hover .letter:nth-child(10) {
  animation-delay: 1s;
}

.logo:hover .letter:nth-child(11) {
  animation-delay: 1.1s;
}

.logo:hover .letter:nth-child(12) {
  animation-delay: 1.2s;
}

.logo:hover .letter:nth-child(13) {
  animation-delay: 1.3s;
}

.timeline-container::after {
  left: calc(50% - 2px);
}

.timeline-item:after {
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
  top: calc(50% - 0.5rem);
}

.timeline-item:nth-child(even)::after {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

nav ul li a.active:before,
nav ul li a.active:after,
nav ul li:hover a:before,
nav ul li:hover a:after {
  width: 100%;
}

@keyframes bounce {
  50% {
    top: -5px;
  }

  100% {
    top: 0;
  }
}

.star svg.full {
  animation: pop 0.3s linear 1;
}

.star:nth-child(1) svg.full {
  animation-delay: 0.6s;
}

.star:nth-child(2) svg.full {
  animation-delay: 0.7s;
}

.star:nth-child(3) svg.full {
  animation-delay: 0.8s;
}

.star:nth-child(4) svg.full {
  animation-delay: 0.9s;
}

.star:nth-child(5) svg.full {
  animation-delay: 1s;
}

section {
  scroll-margin-top: 4rem;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--beige);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: var(--primary);
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}
